.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px; /* Padding para pantallas grandes */
  background-color: #40513B; /* Tono oscuro similar a la imagen */
  color: #EDF1D6; /* Verde claro para el texto */
  width: 100%;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Menos margen para acercar al texto introductorio */
  color: #EDF1D6;
}

.contact-intro {
  font-size: 1.2rem;
  margin-bottom: 40px;
  max-width: 600px;
}

.contactoButton {
  display: flex;
  gap: 20px; /* Espacio entre botones */
  margin-bottom: 40px; /* Espacio antes de los iconos */
}

.contactosIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Más espacio entre iconos */
  width: 100%;
  flex-wrap: wrap; /* Permite que se apilen en móviles */
}

.contactosItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.contactosItem a {
  color: #EDF1D6; /* Color del ícono */
  text-decoration: none;
}

.contactosItem a:hover {
  transform: scale(1.1); /* Efecto hover en el ícono */
}

.contact-info {
  font-size: 1rem;
  margin-top: 5px;
}

.botonCv, .botonMensaje {
  padding: 10px 20px;
  background-color: #609966; /* Verde medio de la paleta */
  color: #EDF1D6; /* Verde claro para el texto */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonCv:hover, .botonMensaje:hover {
  background-color: #9DC08B; /* Verde medio claro para hover */
}

@media (max-width: 768px) {
  .contacto {
    padding: 20px 10px; /* Menos padding en móviles */
  }

  .contact-title {
    font-size: 1.8rem; /* Título más pequeño */
  }

  .contact-intro {
    font-size: 0.9rem; /* Texto más pequeño */
    margin-bottom: 15px; /* Menos margen */
  }

  .contactoButton {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; /* Espacio reducido */
  }

  .contactosIcons {
    gap: 10px; /* Espacio reducido entre iconos */
    flex-direction: column;
  }

  .contactosItem a {
    font-size: 35px; /* Iconos más pequeños en móviles */
  }

  .contact-info {
    font-size: 0.9rem; /* Texto más pequeño debajo de iconos */
  }

  .botonCv, .botonMensaje {
    width: 100%;
    max-width: 160px; /* Ancho máximo ajustado */
    padding: 8px 15px; /* Padding reducido */
    margin: 0 auto 5px; /* Centrado con margen inferior */
  }
}