.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #4CAF50; /* Verde oscuro */
  color: white;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Reduced to balance spacing */
}

.contactoButton {
  margin-bottom: 20px; /* Space between button and icons */
}

.contactosIcons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactosItem {
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.contactosItem:hover {
  transform: scale(1.1);
}

.botonCv {
  padding: 10px 20px;
  background-color: blue; /* Azul vibrante */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonCv:hover {
  background-color: darkblue;
}