.topbar {
  width: 100%; /* Ocupa todo el ancho */
  height: 100px;
  background-color: #40513B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 2px solid darkgreen;
  box-sizing: border-box; /* Para que el padding no afecte el ancho */
  transition: opacity 0.3s ease; /* Transición suave para el efecto de desvanecimiento */
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

.menu-icon {
  cursor: pointer;
  display: none; /* Oculto por defecto */
  align-items: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 10px;

    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
      font-size: 30px;
      font-weight: bold;
      &:hover {
        color: #ffd700;
      }
    }
  }
}

/* Media Query para móviles */
@media only screen and (max-width: 600px) {
  .topbar {
    justify-content: space-between;
    padding: 10px;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: darkgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: 150px;

    &.open {
      display: flex; /* Mostrar cuando está abierto */
    }
  }
}